@model BlogEngine.Core.ViewModels.BlogViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BlogViewModel</legend>
        
        @Html.HiddenFor(model => model.BlogId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.DateCreated)

        <div class="editor-label">
            @Html.LabelFor(model => model.SelectedCategory)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedCategory, new SelectList(Model.Categories, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.SelectedCategory)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BlogImage)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BlogImage, new { type = "file" })
            @Html.ValidationMessageFor(model => model.BlogImage)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BlogTitle)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BlogTitle, new { style = "width:790px" })
            @Html.ValidationMessageFor(model => model.BlogTitle)
        </div>        
        <div class="editor-label">
            @Html.LabelFor(model => model.BlogShortDescription)
        </div>
        <div class="editor-field-desc">
            @Html.TextAreaFor(model => model.BlogShortDescription)
            @Html.ValidationMessageFor(model => model.BlogShortDescription)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BlogEntryText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlogEntryText)
            @Html.ValidationMessageFor(model => model.BlogEntryText)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
