@model IEnumerable<BlogEngine.Core.ViewModels.BlogListViewModel>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h3 style="display: inline-block"><span class="glyphicon glyphicon-book"></span> Blogs</h3>
<h5 style="color: grey; display: inline-block">List of all the blogs</h5>

<div class="well well-sm">
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Blog")'">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Create a new Blog
    </button>
</div>
<div class="col-md-12">
    <div class="row well well-sm" style="padding-top:5px;padding-bottom:5px;margin-bottom:5px">
        <div class="col-md-3"><b>@Html.DisplayNameFor(model => model.Tags)</b></div>
        <div class="col-md-1"><b>By</b></div>
        <div class="col-md-1"><b>Created</b></div>
        <div class="col-md-1"><b>@Html.DisplayNameFor(model => model.Category)</b></div>
        <div class="col-md-2"><b>@Html.DisplayNameFor(model => model.Title)</b></div>
        <div class="col-md-4"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row" style="padding-bottom:5px;">
            <div class="col-md-3">
                @foreach (var tag in item.Tags)
                {
                    <button class="btn btn-xs btn-primary">
                        <span style="font-size: 13px;" class="glyphicon glyphicon-tag">@Html.DisplayFor(modelItem => tag.Name)</span>
                    </button>
                }
            </div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => item.CreatedBy)</div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => item.CreatedDate)</div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => item.Category)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Title)</div>
            <div class="col-md-4">
                <a href="#deleteModal" data-toggle="modal" data-id="@item.BlogId" class="open-deleteModal btn btn-sm btn-danger pull-right">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
                </a>
                <button style="margin-right:5px" class="btn btn-sm btn-primary pull-right" onclick="location.href='@Url.Action("Edit", "Blog", new { id = item.BlogId })'">
                    <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                </button>
                <button style="margin-right:5px;color:grey;" class="btn btn-sm btn-default pull-right" onclick="location.href='@Url.Action("details", "blog", new { id = item.BlogId })'">
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Details
                </button>
            </div>
        </div>
    }
</div>

@*bootstrap modal form for delete confirmation*@
@Html.Partial("_ConfirmDeleteModal","Blog")

<script type="text/javascript">
        $(document).on("click", ".open-deleteModal", function () {
            var deleteId = $(this).data('id');
            $('#deleteModal').submit(function () {
                $('#deleteModal').attr('action', '/admin/blog/delete/' + deleteId);
            });
        });
</script>
