@model BlogEngine.Core.Models.BlogEntry

@{
    ViewBag.Title = "BlogEntry";
}

<h2>Blog entry</h2>
<div class="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10 centered">
    <div class="entry">
        <h3 class="entryPaddingMain">@Html.DisplayFor(modelItem => Model.BlogTitle)</h3>
        @Html.Partial("_meta",Model)
        @Html.Partial("_blogEntryMain", Model)
        @Html.Partial("_treeView", Model.Comments, new ViewDataDictionary { { "blogEntryId", Model.BlogEntryId}})
        <div style="padding-top:50px">
            @Html.ActionLink("Back to Blog Entries", "Index", null, new { @class = "entryPadding" })
        </div>
    </div>
</div>
<div class="col-md-4 col-lg-4"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalun")
}

