@model IEnumerable<BlogEngine.Core.ViewModels.BlogEntryView>

@{
    ViewBag.Title = "Category";
}

<h2>Latest blog entries in the @Model.First().Category.Name Category</h2>

<div class="col-md-8">
    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.UserId)
        @Html.HiddenFor(modelItem => item.CategoryId)
        @Html.Partial("_entryBlogList", item)
    }
</div>

@Html.Partial("_sidebar")

