@model IEnumerable<BlogEngine.Core.Models.BlogEntry>

@{
    ViewBag.Title = "Blog Entries";
}

<h2>Blog Entries</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogEntryText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogEntryText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            <div>
                @foreach(var comment in item.Comments)
                {
                    <div>
                        @Html.DisplayFor(m => comment.CommentText)
                        @Html.DisplayFor(m => comment.User.UserName)
                        @Html.DisplayFor(m => comment.CommentDate)
                    </div>

                }
            </div>
            @if(User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Comment","Comment", new { id = item.BlogEntryId})
            }
        </td>
    </tr>
}

</table>
