@*@model IEnumerable<BlogEngine.Core.ViewModels.BlogEntryView>*@
@model PagedList.IPagedList<BlogEngine.Core.ViewModels.BlogEntryView>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Blog Entries";
    PagedListRenderOptions options = new PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination pagination-sm" },
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always
    };
}

<h2>Blog Entries</h2>
<div class="col-md-8">
    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.UserId)
        @Html.HiddenFor(modelItem => item.CategoryId)
        <div class="entry">
            <h3 class="entryPaddingMain">@Html.DisplayFor(modelItem => item.BlogTitle)</h3>
            @if (item.Image != null)
            {
                <img class="img-responsive img-entry" src="@Url.Content(item.Image.ImagePath)" alt="Image" />
            }
            <div class="meta">
                <span class="glyphicon glyphicon-calendar"></span>&nbsp;@Html.DisplayFor(modelItem => item.DateCreated)&nbsp;
                <span class="glyphicon glyphicon-user"></span>&nbsp;By:&nbsp;@Html.DisplayFor(modelItem => item.User.UserName)
                <span class="pull-right">
                    <span class="glyphicon glyphicon-comment"></span> 
                    <a href="@Url.Action("BlogEntry", "Blog",  new { id=item.BlogEntryId, blogEntryName = UrlEncoder.ToFriendlyUrl(item.BlogTitle) })">&nbsp;@Html.DisplayFor(modelItem => item.Comments.Count) Comments</a>
                </span>
            </div>
            <p class="entryPaddingMain">@Html.DisplayFor(modelItem => item.BlogShortDescription)</p>
            <form class="entryPaddingMain" style="display: inline" action="@Url.Action("BlogEntry", "Blog", new { id=item.BlogEntryId, blogEntryName = UrlEncoder.ToFriendlyUrl(item.BlogTitle) })" method="get">
                <button class="btn btn-default">Read more »</button>
            </form>
        </div>
    }
    <div class="text-center hugFooter">
        <span class="paginationText">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
        @Html.PagedListPager( Model, page => Url.Action("Index", new { page }), options)
    </div>
</div>
<div class="col-md-4">
    <div class="sidebar">
        <div class="widget">
            <h4>Search</h4>
        </div>
        <div class="widget">
            <h4>About</h4>
        </div>
        <div class="widget">
            <h4>Recent blogs</h4>
        </div>
    </div>
</div>    