@model PagedList.IPagedList<BlogEngine.Core.ViewModels.BlogEntryView>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Blog Entries";
    PagedListRenderOptions options = new PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination pagination-sm" },
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always
    };
}
<h2>Lastest from the Blog...</h2>
<div class="col-md-8">
    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.UserId)
        @Html.HiddenFor(modelItem => item.CategoryId)
        @Html.Partial("_entryBlogList", item)
    }
    <div class="text-center hugFooter">
        <span class="paginationText">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
        @Html.PagedListPager( Model, page => Url.Action("Index", new { page }), options)
    </div>
</div>

@Html.Partial("_sidebar")