@model BlogEngine.Core.Models.Comment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        @Html.HiddenFor(model => model.CommentId)
        @Html.HiddenFor(model => model.CommentDate)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.ParentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CommentText)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CommentText, new { style = "width:790px" })
            @Html.ValidationMessageFor(model => model.CommentText)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
