<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BlogEngine - @ViewBag.Title</title>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("meta", required: false)
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/themes/default/bootstrap.css" rel="stylesheet">
        <link href="~/Content/themes/default/custom.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        @Html.Partial("_html5shiv")
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="~/Content/ico/apple-touch-icon-57-precomposed.png">
        <link href="~/Content/ico/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <div id="holder">
            @Html.Partial("_NavBar")
            @RenderSection("featured", required: false)
            <div id="body">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            <div id="footer">
                <div class="container" style="padding-top:40px;">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <ul class="list-inline center-block">
                            <li><a href="http://facebook.com/"><img src="/images/soc_fb.png"></a></li>
                            <li><a href="http://twitter.com/"><img src="/images/soc_tw.png"></a></li>
                            <li><a href="http://google.com/"><img src="/images/soc_gplus.png"></a></li>
                            <li><a href="http://pinterest.com/"><img src="/images/soc_pin.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-11 col-sm-offset-1" style="padding-top:20px;">
                    <p style="color:white;">Copyright ©2013 Jamie van Walsum.</p>
                </div>
            </div>
        </div>
    </body>
        @Scripts.Render("~/Scripts/Custom/validationClasses.js")
</html>



