@model BlogEngine.Core.ViewModels.FolderPartialView

<div class="col-md-2 col-lg-2 col-sm-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Folders</h3>
        </div>
        <div class="panel-body">
            @if (Model.PageName == "sent")
            {
                <p>@Html.ActionLink("Inbox (" + Model.UnreadCount + ")", "Index")</p>
                <p><b>@Html.ActionLink("Sent", "Sent")</b></p>   
                <p>@Html.ActionLink("Trash", "Trash")</p>
            }
            else if (Model.PageName == "index")
            {
                <p><b>@Html.ActionLink("Inbox (" + Model.UnreadCount + ")", "Index")</b></p>
                <p>@Html.ActionLink("Sent", "Sent")</p>   
                <p>@Html.ActionLink("Trash", "Trash")</p>
            }
            else if (Model.PageName == "trash")
            {
                <p>@Html.ActionLink("Inbox (" + Model.UnreadCount + ")", "Index")</p>
                <p>@Html.ActionLink("Sent", "Sent")</p>   
                <p><b>@Html.ActionLink("Trash", "Trash")</b></p>  
            }
            else
            {
                <p>error</p>
            }
        </div>
    </div>
</div>
