
<div class="col-md-2 col-lg-2 col-sm-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Folders</h3>
        </div>
        <div class="panel-body">
            @if (@Model.page == "sent")
            {
                <p>@Html.ActionLink("Inbox", "Index")</p>
                <p><b>@Html.ActionLink("Sent", "Sent")</b></p>   
                <p>Trash</p>
            }
            else if (@Model.page == "index")
            {
                <p><b>@Html.ActionLink("Inbox", "Index")</b></p>
                <p>@Html.ActionLink("Sent", "Sent")</p>   
                <p>Trash</p>  
            }
            else if (@Model.page == "trash")
            {
                <p>@Html.ActionLink("Inbox", "Index")</p>
                <p>@Html.ActionLink("Sent", "Sent")</p>   
                <p><b>Trash</b></p>    
            }
        </div>
    </div>
</div>
