@model BlogEngine.Core.ViewModels.MessageDetailsView

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_DetailsSetup")
@*<h3 style="display: inline-block"><span class="glyphicon glyphicon-envelope"></span> Messages</h3>

<div class="well well-sm">
    <button class="btn btn-success" onclick="location.href='@Url.Action("Send", "Message")'">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;New Message
    </button>
</div>

@Html.Action("_Folders", "Message", new { page = "index" })*@

<div class="col-md-9 col-lg-9 col-sm-9">
    @Html.Partial("_DetailsNav")

    @Html.HiddenFor(model => model.MessageId)
    @Html.HiddenFor(model => model.ReadByRecipient)
    @Html.HiddenFor(model => model.DeletedByRecipient)

    <div id="messageInfo" class="well" style="margin:10px;">
        <div>
            <span class="boldText">@Html.DisplayNameFor(model => model.From) : </span>
            <span>@Html.DisplayFor(model => model.From)</span>
        </div>
        <div>
            <span class ="boldText">@Html.DisplayNameFor(model => model.To) : </span>
            <span>@Html.DisplayFor(model => model.To)</span>
        </div>
        <div>
            <span class="boldText">@Html.DisplayNameFor(model => model.Sent) : </span>
            <span>@Html.DisplayFor(model => model.Sent)</span>
        </div>
        <div>
            <span class="boldText">@Html.DisplayNameFor(model => model.Subject) : </span>
            <span>@Html.DisplayFor(model => model.Subject)</span>
        </div>
    </div>
   
    <div class="panel panel-default" style="height:500px;margin:10px;">
        <div class="panel-body">
            @Html.DisplayFor(model => model.Body)
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#hideMessageInfo").click(function () {
            $("#messageInfo").slideToggle();
            $("#hideMessageInfo").toggleClass("underline");
        });
    });
</script>