@model BlogEngine.Core.ViewModels.MessageDetailsView

@{
    ViewBag.Title = "DetailsSent";
}

@Html.Partial("_DetailsSetup")

<div class="col-md-9 col-lg-9 col-sm-9">
    @Html.Partial("_DetailsNav")

    @Html.HiddenFor(model => model.MessageId)
    @Html.HiddenFor(model => model.ReadByRecipient)
    @Html.HiddenFor(model => model.DeletedByRecipient)

    <div class="well" style="margin:10px;">
        <div>
            <span class="boldText">@Html.DisplayNameFor(model => model.From) : </span>
            <span>@Html.DisplayFor(model => model.From)</span>
        </div>
        <div>
            <span class="boldText">@Html.DisplayNameFor(model => model.To) : </span>
            <span>@Html.DisplayFor(model => model.To)</span>
        </div>
        <div>
            <span class="boldText">@Html.DisplayNameFor(model => model.Sent) : </span>
            <span>@Html.DisplayFor(model => model.Sent)</span>
        </div>
        <div>
            <span class="boldText">@Html.DisplayNameFor(model => model.Subject) : </span>
            <span>@Html.DisplayFor(model => model.Subject)</span>
        </div>
    </div>
    <div class="panel panel-default" style="height:500px;margin:10px;">
        <div class="panel-body">
            @Html.DisplayFor(model => model.Body)
        </div>
    </div>
</div>
