@model IEnumerable<BlogEngine.Core.ViewModels.MessageView>
@using GridMvc.Html
@{
    ViewBag.Title = "Trash";
}

<style>
    .ActionsTitle {
        color: #428bca;
        text-align: center;
    }
</style>

@helper FormatDate(DateTime date)
{
    TimeSpan span = DateTime.Now - date;

    if (span.TotalHours <= 24)
    {
       @date.ToShortTimeString()
    }
    else if (span.TotalDays < 365)
    {
        if (date.Day < 10)
        {
            <text>0</text>@date.Day<text> </text>@date.ToString("MMM")
        }
        else
        {
            @date.Day<text> </text>@date.ToString("MMM")
        }
    }
    else {
        @date.ToString("dd/MM/yyyy")
    }
}

@helper GridManageItemColumn(int messageId)
{
    @Html.ActionLink("Delete", "PermanentDelete", new { id = messageId }, new { @class = "editField btn btn-xs btn-info" })
    <span> </span>
    @Html.ActionLink("Return to Inbox", "UnDelete", new { id = messageId }, new { @class = "editField btn btn-xs btn-warning" })
}


<h3 style="display: inline-block"><span class="glyphicon glyphicon-envelope"></span> Messages</h3>

<div class="well well-sm">
    <button class="btn btn-success" onclick="location.href='@Url.Action("Send", "Message")'">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;New Message
    </button>
</div>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

@Html.Partial("_Folders", new { page = "trash"})

<div class="col-md-10 col-lg-10 col-sm-10">
    @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(u => u.MessageId, true);
            columns.Add(u => u.From).SetWidth(60).Titled("From").Css("showContext");
            columns.Add(u => u.Subject).Encoded(false).Sanitized(false).Titled("Subject").Filterable(true).RenderValueAs(o => Html.ActionLink(o.Subject, "DetailsSent", "Message", new { messageId = o.MessageId, username = User.Identity.Name }, null));
            columns.Add(u => u.Sent).SetWidth(100).Titled("Recieved").Filterable(true).RenderValueAs(u => FormatDate(u.Sent));
            columns.Add().Encoded(false).Sanitized(false).SetWidth(165).Titled("Actions").RenderValueAs(u => GridManageItemColumn(u.MessageId)).Css("ActionsTitle");
        }).Sortable(true).WithPaging(5)
</div> 