@model IEnumerable<BlogEngine.Core.Models.Category>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h3 style="display: inline-block"><span class="glyphicon glyphicon-th-list"></span> Categories</h3>
<h5 style="color: grey; display: inline-block">List of all the categories</h5>

<div class="well well-sm">
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Category")'">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Create a new Category
    </button>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
            </th>
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <button class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("Edit", "Category", new { id=item.CategoryId })'"> 
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("Delete", "Category", new { id=item.CategoryId })'"> 
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </td>
        </tr>
    }
    </table>
</div>
