@model BlogEngine.Web.Models.LocalPasswordModel


<div class="col-md-8 login">
    
<h3>Change password</h3>
    @using (Html.BeginForm("Manage", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-lg-4 control-label" })
            <div class="col-lg-6">
                 @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" }) 
            </div>
       
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-lg-4 control-label" })
           <div class="col-lg-6">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
           </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-4 control-label" })
            <div class="col-lg-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                 <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    }
</div>