@model BlogEngine.Core.ViewModels.UserEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type="email" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    
    @Html.Partial("_RoleEditor", Model.Roles)

    <p>
        <input type="submit" value="Update User" class="btn btn-primary" />
        <a href="@Url.Action("Users")">or cancel</a>
    </p>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
