@model List<BlogEngine.Core.ViewModels.UsersViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@helper GridManageItemColumn(int userId)
{
    @Html.ActionLink("Edit", "Edit", new { id = userId }, new { @class = "editField btn btn-xs btn-info" })
    <span> </span>
    @*<button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>*@
    <a href="#deleteModal" data-toggle="modal" data-id="@userId" class="open-deleteModal btn btn-danger btn-xs">Delete</a>
    @*@Html.ActionLink("Delete", "Delete", new { id = userId }, new { @class = "btn btn-xs btn-danger delete-link" })*@
    <span> </span>
    @Html.ActionLink("Deactivate", "Deactivate", new { id = userId }, new { @class = "editField btn btn-xs btn-warning"})
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<h2>Users</h2>

@using (Html.BeginForm("Delete", "User", null, FormMethod.Post, new { @class = "modal fade", id = "deleteModal" }))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Header
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <input type="submit" value="Delete" name ="deleteId" id="deleteId" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="col-md-10 col-lg-10 col-sm-12">
    @Html.Grid(Model).Columns(columns => 
        {
            columns.Add(u => u.UserId).SetWidth(60).Titled("User Id");
            columns.Add(u => u.Username).Titled("Username").Filterable(true);
            columns.Add(u => u.Name).Titled("Name").Filterable(true);
            columns.Add(u => u.EmailAddress).Titled("Email Address");
            columns.Add(u => u.Roles).Titled("Roles");
            columns.Add().Encoded(false).Sanitized(false).Titled("Actions").RenderValueAs(u => GridManageItemColumn(u.UserId));
        }).WithPaging(3).Sortable(true)
</div>
<div class="col-md-2 col-lg-2 col-sm-12">

</div>

<script type="text/javascript">
    $(document).on("click", ".open-deleteModal", function () {
        var deleteId = $(this).data('id');
        console.log(deleteId);
        $('#deleteModal').submit(function () {
            $('#deleteModal').attr('action', '/admin/user/delete/' + deleteId);
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}