@model IEnumerable<BlogEngine.Core.Models.Tag>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3 style="display: inline-block"><span class="glyphicon glyphicon-tags"></span> Tags</h3>
<h5 style="color: grey; display: inline-block">List of all the tags</h5>

<div class="well well-sm">
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Tag")'">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Create a new Tag
    </button>
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TagId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TagId })
        </td>
    </tr>
}

</table>
